{% extends 'base.html' %}
<!--  -->

{% block content %}
<!--  -->
<h1>Send a Email</h1>

<form method="POST">
  {% csrf_token %}
  <div class="inputs">
    from adress
    <input
      type="email"
      name="from"
      placeholder="from email adress"
      value="thamizharasan2373@gmail.com"
    />
  </div>
  <div class="inputs">
    to adress
    <input type="text" name="to" placeholder="to email adress" />
  </div>

  <div class="inputs">
    subject
    <input type="text" name="subject" placeholder="subject" />
  </div>
  <div class="inputs">
    message
    <input type="text" name="message" placeholder="message" />
  </div>
  <input type="submit" value="Send" />
</form>
<!--  -->
{% endblock content %}
